In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import NearestNeighbors

In [2]:
dataset = pd.read_csv('teleCust1000t.csv')
print(dataset.shape)
dataset.head(10)

(1000, 12)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3
9,1,68,41,1,21,72.0,1,22,0.0,0,3,2

In [5]:
dataset['custcat'].value_counts() * 100 / dataset['custcat'].describe()[0]

3    28.1
1    26.6
4    23.6
2    21.7
Name: custcat, dtype: float64

In [11]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values
print(x.shape)
print(y.shape)

(1000, 11)
(1000,)

In [8]:
x_std = StandardScaler().fit_transform(x)
x_std

array([[-0.02696767, -1.055125  ,  0.18450456, ..., -0.22207644,
        -1.03459817, -0.23065004],
       [ 1.19883553, -1.14880563, -0.69181243, ..., -0.22207644,
        -1.03459817,  2.55666158],
       [ 1.19883553,  1.52109247,  0.82182601, ..., -0.22207644,
         0.96655883, -0.23065004],
       ...,
       [ 1.19883553,  1.47425216,  1.37948227, ..., -0.22207644,
         0.96655883, -0.92747794],
       [ 1.19883553,  1.61477311,  0.58283046, ..., -0.22207644,
         0.96655883, -0.92747794],
       [ 1.19883553,  0.67796676, -0.45281689, ..., -0.22207644,
         0.96655883,  0.46617787]])

In [19]:
nearest_neighbors = NearestNeighbors(n_neighbors = 4, metric='euclidean').fit(x_std) # metric = 'euclidean' by defualt

In [15]:
new_observation = [2,12,30,1,8,50,3,4,0.0,1,3]
distances,indices = nearest_neighbors.kneighbors([new_observation])

In [16]:
x_std[indices]

array([[[-0.02696767,  0.16272326,  1.37948227, -0.9900495 ,
          0.83805837, 14.86546073,  1.0877526 ,  1.58905715,
         -0.22207644,  0.96655883, -0.92747794],
        [ 1.19883553,  1.61477311,  2.0964689 , -0.9900495 ,
          0.93724861,  9.84632959, -0.54919639,  3.37529512,
         -0.22207644, -1.03459817, -0.92747794],
        [ 1.19883553,  1.47425216,  1.37948227, -0.9900495 ,
          2.82186323,  8.09851297,  1.9062271 ,  2.18446981,
         -0.22207644,  0.96655883, -0.92747794],
        [-1.25277087,  0.2564039 ,  0.82182601, -0.9900495 ,
          1.43319983,  7.94896717,  0.26927811,  1.78752803,
         -0.22207644, -1.03459817,  0.46617787]]])

In [17]:
distances

array([[47.72837901, 50.85138045, 52.31675915, 53.2746841 ]])